@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyRegistration</title>
</head>
<body>
    <div>
        Please click here to verify your email address
        <a href="@{Html.ActionLink("VerifyEmail","RenderVerifyEmail","RegisterMember");}"></a>
        
    </div>
</body>
</html>
