@model CFPress.UmbracoMVCApplication.Models.RelatedNewsItemViewModel

@{
 var relatedItems = Model.relatedNewsItemList;
 }
    
<h2 class="major"><span>Related News Items</span></h2>
<ul class="style2">
    @if(relatedItems.Count()!=0)
    {
    foreach (var relatedItem in relatedItems)
    {
        
    <li>
        <article class="is-post-summary">
            <h3><a href="@relatedItem.Url"></a>@relatedItem.Name</h3>
    </article>
    </li>
     }
    }
    else
    {
     <li>No related news item </li>
    }
</ul>
    
