@model CFPress.UmbracoMVCApplication.Models.RegisterMemberViewModel
@using CFPress.UmbracoMVCApplication.Controllers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome @Model.Name</title>
</head>
<body>
    <div>
        Please click the below link to verify your email address
        @*@Html.ActionLink("Verify email", "RenderVerifyEmail", "RegisterMember", new { tempGUID = @Model.tempGuid }, new {@class="button"})*@
       
        @RegisterMemberController.AbsoluteAction(@Url, "RenderVerifyEmail", "RegisterMember", new { verifyGUID = @Model.tempGuid })
    </div>

</body>
</html>
