@model CFPress.UmbracoMVCApplication.Models.ResetPasswordViewModel
@using CFPress.UmbracoMVCApplication.Controllers

@{
    Layout = null;
}

<h2>ResetPasswordRequest</h2>
<p>
    Hi, you've requested a new password. Please click this link to reset your password
    @SignInMemberController.AbsoluteAction(@Url, "RenderResetPassword", "SignInMember", @Model)
</p>