@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

	<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                       @Html.Action("Index", "SignInMember")                     
                    </article>
                    <!-- /Content -->
                </div>
            </div>
          </div>
</div>
</div>